
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/amr-labels.iml
data-formatting/amr-labels-helper-all-1.0.jar
data-formatting/amr17/train/train.csv
data_formatting/amr17/train/train.csv
data_formatting/amr17/train/train.csv
*.pyc
data_formatting/amr-labels-helper-all-1.0.jar
.idea/inspectionProfiles/profiles_settings.xml
prediction_test.log
copying/.~lock.train_copy_stats.csv#
