
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/amr-labels.iml
data-formatting/amr-labels-helper-all-1.0.jar
data-formatting/amr17/train/train.csv
data_formatting/amr17/train/train.csv
data_formatting/amr17/train/train.csv
*.pyc
data_formatting/amr-labels-helper-all-1.0.jar
.idea/inspectionProfiles/profiles_settings.xml
prediction_test.log
copying/.~lock.train_copy_stats.csv#
copying/train_copy_stats.csv
copying/dev_copy_stats_words.csv
copying/train_copy_stats.csv
copying/dev_copy_stats.csv
copying/train_copy_stats.csv
bucket_accs_toy.csv
acc_by_bucket.csv
copying/dev_copy_stats_lemmas.csv
copying/lemma_label_counts.txt
copying/unseen_words.txt
copying/word_label_counts.txt
stats/word_label_counts.txt
stats/unseen_words.txt
stats/multinodes.txt
stats/lemma_label_counts.txt
stats/dev_copy_stats_words.csv
stats/dev_copy_stats_lemmas.csv
stats/dev_copy_stats.csv
main.prof
